.button {
  font: inherit;
  border: 1px solid  #a3bcdb;
  background: #a3bcdb;
  color: black;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  color:white;
  background: rgb(50, 66, 102);
  border-color: rgb(50, 66, 102);
}

.button:focus {
  outline: none;
}