* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 400px auto;
  text-align: center;
  background-color: black;
  color: white;
  font-family: Arial;
}

.container1 {
  position: relative;
}

.container1::after {
  content: "";
  position: absolute;
  border-color: pink;
  width: 15px;
  height: 15px;
  border: 10px solid pink;
  border-right: none;
  border-top: none;
  left: 100px;
}

h1 {
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 10px solid rgb(192, 227, 255);
  border-right: none;
  border-bottom: none;
  left: 100px;
}

h1::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 10px solid rgb(192, 227, 255);
  border-left: none;
  border-top: none;
  right: 100px;
  bottom: -25px;
}
.container1::before {
  content: "";
  position: absolute;
  border-color: pink;
  width: 15px;
  height: 15px;
  border: 10px solid pink;
  border-left: none;
  border-bottom: none;
  right: 100px;
  /* top: -25px; */
}
