* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightyellow;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.box {
  height: 100px;
  width: 100px;
}

.box1 {
  background-color: green;
}

.box2 {
  background-color: blue;
}

.box3 {
  background-color: red;
}
