body{
  background-color: beige;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:80%;
  margin: 20px auto;
}

input{
  width: 300px;
  height: 100px;
}
button{
  margin-top:10px;
}

