* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.grid {
  display: grid;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  grid-template-areas:
    "box-red box-red box-red box-red"
    "box-blue box-blue box-green box-green"
    "box-blue box-blue box-purple box-purple";
  gap: 1rem;
}

.box {
  border-radius: 15px;
}

.box-red {
  background-color: red;
  border-color: black;
  grid-area: box-red;
  padding: 0.5rem;
}

.box-blue {
  background-color: blue;
  grid-area: box-blue;
  padding: 0.5rem;
}

.box-green {
  background-color: green;
  grid-area: box-green;
  padding: 0.5rem;
}

.box-purple {
  background-color: purple;
  grid-area: box-purple;
  padding: 0.5rem;
}
