* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-size:62.5%; */
}

body {
  background: rgb(8, 8, 8);
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

header {
  background-color: black;
  height: 88px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  margin: 0 auto;
  max-width: 90%;
  overflow: auto;
  padding: 0 20px;
}

nav a {
  float: right;
  padding: 20px 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#navlogo {
  float: left;
  padding-top: 20px;
}

main {
  margin-top: 150px;
}

#main-title {
  font-size: 80px;
}

.headerbuttons a:hover,
.headerbuttons a.current {
  color: coral;
}
ul li {
  list-style: none;
}
.card {
  width: 150px;
  font-weight: bold;
  background-color: coral;
  padding: 5px;
  margin: 10px;
  float: left;
}
.card-container {
  margin: 0 auto;
  width: fit-content;
  clear: left;
  height: fit-content;
}
.card-container a {
  color: coral;
}
.card-container a:hover {
  color: white;
}
.card h2 {
  color: black;
  font-weight: bolder;
  /* font-size: 28px; */
  text-decoration: underline;
  margin-bottom: 1px;
}
.card li {
  text-shadow: 2px 2px #241d1d;
}

@media (max-width: 768px) {
  .card {
    float: none;
    margin-top: 20px;
  }
  #main-title {
    font-size: 50px;
  }
  nav a {
    visibility: hidden;
  }
  .hamburger a {
    visibility: visible;
    color: coral;
  }
  #about p {
    font-size: small;
  }
}
