body {
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana,
    "lucida sans unicode", tahoma, sans-serif;
  font: size 38px;
}
.center {
  margin: 0 auto;
}
.main-container {
  width: fit-content;
  margin-top: 40px;
}
.image {
  width: 300px;
  height: 300px;
}

.text {
  width: fit-content;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  font-weight: lighter;
}

.text h1 {
  font-weight: lighter;
  font-size: 40px;
  margin: 10px 0;
  line-height: 47px;
}

.text h3 {
  font-size: 21px;
  margin: 0 0;
  line-height: 20px;
  font-weight: lighter;
}

.links {
  margin: 48px auto;
  width: fit-content;
  text-align: center;
  display: block;
}

.links h5 {
  font-weight: lighter;
  margin: 0 auto;
  font-size: 16px;
}

.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li {
  margin: 10px 0;
  line-height: 20px;
}

.links a {
  text-decoration: none;
  color: #005ff8;
}
.links a:hover {
  text-decoration: underline;
}
